/* universal style */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    border: 1px solid #c2c2c2;
    background-color: #E9F1FC;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}

/* header section desktop */

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

#logo h1{
    font-family: Vollkorn, sans-serif;
}

#logo span{
    color: #7a7a7a;
    font-weight: normal;
}

header .content ul{
    display: flex;
    margin: 0 1.5rem;
}

ul{
    list-style: none;
}

header .content li{
    padding: 0 1rem;
    font-size: 1.25rem;
}

 #mobile-nav{
    display: none;
}


/* header section tablet */

@media only screen and (max-width: 1055px){
header .content ul{
    display: none;
}

.mobile{
    display: flex;
    align-items: center;
}

 #mobile-nav{
    display: flex;
    justify-content: flex-end;
}

#mobile-nav li{
   padding: 0 1rem;
}

#mobile-nav li img{
    width: 2rem;
    height: 2rem;
}

}

/* header section mobile */

@media only screen and (max-width: 575px){
#logo {
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

#logo h1{
    display: none;
}

#mobile-nav{
    justify-content: space-around;
}

 #mobile-nav li img{
     width: 2rem;
     height: 2rem;
     margin-right: 2rem;
 }
}

/* banner section */

.banner {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #C2C2C2;
    padding: 2 rem 1.5rem;
}

.banner img{
    display: flex;
    flex-basis: 60%;
    height: auto;
    margin: 2rem;

}

.text-holder{
    flex-basis: 60%;
}

.banner h1{
    font-family: Vollkorn, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
    margin: 2rem;
}

.banner h2{
    font-family: Vollkorn, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #4a4a4a;
    margin: 2rem;
    line-height: 1.2;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4A4A4A;
    height: 2rem;
    width: 70%;
    color: #fff;
    font-family: Vollkorn, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 5rem 2rem 5rem;
}

@media only screen and (max-width: 1055px){

.banner{
    flex-direction: column;

}
}

@media only screen and (max-width: 700px){

.banner img{
    width: 550px;
}

.banner h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
    margin: 2rem;
}

.banner h2{
    font-size: 1rem;
    text-align: center;
    color: #4a4a4a;
    margin: 2rem;
    line-height: 1.2;
}

.btn{
    margin: 0 3rem 1rem 3rem;
}

}

@media only screen and (max-width: 600px) {
    .banner img{
    width: 300px;
}
}

/* main section */

.main{
    display: flex;
}

.practice {
    flex-basis: 60%;
    margin: 2rem 1.5rem;
}

.main h1{
    font-family: Vollkorn, sans-serif;
    font-size: 2.5rem;
}

.main h2{
    font-family: Vollkorn, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.main h3{
    font-family: Vollkorn, sans-serif;
    font-size: 1.5rem;
}

.main p{
    font-size: 1.2rem;
    line-height: 1.2;
}

#p001, #p002 {
    display: flex;
    flex-basis: 35%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    background-color: #FFFFFF;
}

#p003 {
    display: flex;
    flex-basis: 35%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    background-color: #C2C2C2;
}

.images .mobile{
    display: none;
}

#p001 .texts{
    margin: 1rem 1rem;
}

#p002 .texts{
    margin: 1rem 1rem;
}

#p003 .texts{
    margin: 1rem 1rem;
}

.orientation span{
    color: #4E8FE4;
}

@media only screen and (max-width: 1200px){

.practice{
    display: none;
}

.images .desktop{
    display: none;
}

.orientation{
    flex-basis: 100%;
}

#p001, #p002, #p003{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
}

.images .mobile{
    display: flex;
}

div.container{
    align-items: center;
    justify-content: center;
}

#p003{
    background-color: white;
    text-align: center;
}
}

@media only screen and (max-width: 700px){
    .btn{
        margin-left: 5rem;
    }
}

/* learning section */

.learn{
    background-color: #c2c2c2;
    text-align: center;
}

.learn-mobile{
    display: none;
}

.learn h1{
    font-family: Vollkorn, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem 0;
}

.learn h2{
    font-family: Vollkorn, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin:  0;
}

.learn h3{
    font-family: Vollkorn, sans-serif;
    font-size: 1.7rem;
    margin: 1rem 0;
    color: #575757;
}

.learn p{
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #575757;
}

#l001{
    background-color: white;
    margin: 0 2rem;
    line-height: 1.3;
}


@media only screen and (max-width: 1200px) {

.col-sm-4{
    display: none;
    }

.learn{
    background-color: white;
}

.learn-mobile{
    display: flex;
    flex-direction: column;
}

.learn-mobile h2{
    background-color: #c2c2c2;
    border: 2.5px solid white;
}
}

@media only screen and (max-width: 360px){

html{
   font-size: 12px;
}

.banner img{
    display: flex;
    flex-basis: 100%;
    height: auto;
}

.learn-mobile{
    display: flex;
    flex-direction: column;
}
}

/* thesis section */

.thesis video{
    width: 40rem;
    height: 30rem;
    background-color: #c2c2c2;
    margin: 1rem 0;
}

.thesis {
    flex-basis: 60%;
    margin: 2rem 1.5rem;
}

.thesis h2{
    font-family: Vollkorn, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.thesis p{
    font-size: 1.2rem;
    line-height: 1.2;
}

#o002 {
    display: flex;
    flex-basis: 35%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    background-color: #FFFFFF;
}

#o001 {
    display: flex;
    flex-basis: 35%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 4rem 0;
    background-color: #C2C2C2;
}

#o001 .text{
    margin: 1rem 1rem;
}

#o002 .text{
    margin: 1rem 1rem;
}

.mega h2{
    font-family: Vollkorn, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.mega p{
    font-size: 1.2rem;
    line-height: 1.2;
}

.thesis-mobile video{
    display: none;
}

@media only screen and (max-width: 1000px){
 .mega{
     display: none;
 }

 .thesis{
    display: none;
}

 .thesis-mobile video{
     display: inline;
    width: 32rem;
    height: 20rem;
    margin: 0 7rem;
}
}

@media only screen and (max-width: 670px) {

.thesis video{
    display: none;
}

 .thesis h2, .thesis p{
     display: none;
 }

.thesis-mobile video{
    display: inline;
    width: 25rem;
    height: 17.5rem;
    margin: 0 7rem;
}
}

@media only screen (max-width: 620px){
   .thesis-mobile video{
       margin-right: 6rem;
   }

}

@media only screen (max-width: 550px){
 .thesis-mobile video{
    display: inline;
    width: 20rem;
    height: 15rem;

}
}

@media only screen and (max-width: 360px){
   .thesis-mobile video{
    display: inline;
    width: 20rem;
    height: 15rem;
    margin: 0 1rem 0 0;
    }
}

/* footer section */

footer{
    width: 100%;
    height: 50px;
}

.final-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem;
}

.final-desktop ul{
    list-style: none;
    display: inline-flex;
}

.final-desktop li{
     margin: 0 2rem;
}

.footer-mobile{
    display: none;
}

@media only screen and (max-width: 625px){
footer{
        display: none;
    }

.footer-mobile{
    display: block;
    text-align: center;
    margin:2rem 1rem;
}

}

/* social media section */

.social{
    text-align: center;
}
